body {
    background-color: antiquewhite;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: darkred;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.producto, a, .descripcion {
    color: crimson;
    font-size: 23px;
    font-weight: 500;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: rgb(21, 0, 139);
}

.item-1 {
    text-align: start;
}
.item-2 {
    text-align: center;
}
.item-3 {
    text-align: end;
}

img {
    width: 125px;
    height: 150px;
}

form {
    font-size: 25px;
    color: brown;
}

input {
    margin-bottom: 25px;
}